/* ///////////////////////////////
/////// Constants ///////////////
////////////////////////////// */
:root {
  /* Colors */
  --bs-dark-color: #000000 !important;
  --bs-main-color: #ffffff !important;
  --bs-primary-color: #fc7f53 !important;
  --bs-text-primary-color: #3e3e3e !important;
  --bs-text-secondary-color: #5a5a5a !important;
  /* background  */
  --bs-background-primary: linear-gradient(
    to right,
    rgba(255, 131, 89, 1),
    rgba(243, 112, 67, 1)
  ) !important;
  --bs-background-secondary: linear-gradient(
    to right,
    rgba(245, 245, 245, 1),
    rgba(255, 255, 255, 1)
  ) !important;
  /* Shadow Box */
  --bs-box-shadow: 0px 0px 6px #0000001a;
  --bs-box-shadow-all-sides: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  /* Font Weight */
  --bs-font-weight-primary: 600 !important;
  --bs-font-weight-secondary: 500 !important;
}
/* Hide number input buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
}

* {
  /* -webkit-font-smoothing: antialiased; */
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

hr {
  color: #646464;
  height: 2px;
}

/* Select Custom Arrow CSS */
.select-wrapper {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-image: url("../icons/caret-down.svg");
  filter: brightness(0) saturate(100%) invert(75%) sepia(0%) saturate(298%)
    hue-rotate(316deg) brightness(90%) contrast(87%);
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

.select-input:focus + .custom-arrow {
  transform: translateY(-50%) rotate(180deg);
}

/* Select Custom Arrow End CSS */

.form-control,
.form-select {
  padding: 24px 28px !important;
  margin: 10px 0 !important;
  box-shadow: var(--bs-box-shadow-all-sides);
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  background: var(--bs-background-secondary) !important;
}

.form-control:focus,
.form-select:focus,
.form-check-input {
  box-shadow: 0 0 6px rgba(255, 134, 94, 0.795) !important;
}

.form-check .form-check-input {
  float: right;
  width: 40px !important;
  height: 25px !important;
}
.form-check-input:checked {
  background-color: var(--bs-primary-color) !important;
  border-color: var(--bs-primary-color) !important;
}

/* Heading */
.primary-hd {
  size: 42px;
  font-weight: var(--bs-font-weight-primary);
  line-height: 1.2;
  color: var(--bs-text-primary-color);
}

.sub-hd {
  size: 30px;
  font-weight: var(--bs-font-weight-primary);
  line-height: 1.2;
  color: var(--bs-background-secondary);
}

/* button */

.primary-button {
  border-radius: 36px;
  border: 1px solid transparent;
  box-shadow: 3px 8px 8px #0000000d;
  background: var(--bs-background-primary);
  font-weight: var(--bs-font-weight-primary);
  color: var(--bs-main-color) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  transition: background 0.3s ease, border-width 0.3s ease, color 0.3s ease !important ;
}

.primary-button:hover {
  border-width: 0;
  border: 1px solid var(--bs-primary-color);
  background: var(--bs-background-secondary);
  color: var(--bs-dark-color) !important;
}

.secondary-btn {
  border-radius: 36px;
  border: 1px solid black;
  box-shadow: 3px 8px 8px #0000000d;
  background: var(--bs-background-secondary);
  font-weight: var(--bs-font-weight-primary);
  color: var(--bs-dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  transition: background 0.3s ease, border-width 0.3s ease, color 0.3s ease !important ;
}

.secondary-btn:hover {
  background: var(--bs-background-primary);
  border: 1px solid transparent;
  color: var(--bs-main-color);
}

.row_btns {
  padding: 15px 60px !important;

  /* @media (max-width: 1199.98px) {
    padding: 13px 20px !important;
  } */
  @media (max-width: 1199.98px) {
    padding: 13px 20px !important;
  }
}
/*//////////////////// Card Wrapper //////////////////*/

.card-wrapper {
  border: 1px solid var(--bs-dark-color);
  border-radius: 12px;
  padding: 20px;
  background-color: var(--bs-main-color);
}

.vertical-hr {
  border-left: 1px solid black; /* Change color as needed */
  height: 100%; /* Adjust height as needed */
}
